# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environments
# ==========================================================

airflow/
.venv/
venv/
env/
ENV/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# IDEs
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Logs
# ==========================================================

logs/
*.log

# ==========================================================
# Pytest
# ==========================================================

.pytest_cache/

# ==========================================================
# Coverage
# ==========================================================

.coverage
htmlcov/

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Airflow
# ==========================================================

airflow.cfg
airflow.db
airflow-webserver.pid

# ==========================================================
# Docker
# ==========================================================

postgres-db-volume/

# ==========================================================
# Raw Source Data
# ==========================================================

data/source/csv/*
!data/source/csv/.gitkeep

data/source/json/*
!data/source/json/.gitkeep

data/source/xml/*
!data/source/xml/.gitkeep

data/source/postgres/*
!data/source/postgres/.gitkeep

# ==========================================================
# Generated Pipeline Data
# ==========================================================

data/bronze/*
!data/bronze/.gitkeep

data/silver/*
!data/silver/.gitkeep

data/gold/*
!data/gold/.gitkeep

data/rejected/*
!data/rejected/.gitkeep

# ==========================================================
# SQL Backups
# ==========================================================

*.sql

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.temp
*.bak

# ==========================================================
# Build Artifacts
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Misc
# ==========================================================

.cache/